
 <title>James Xue — Developer, Designer, Photographer, Free Spirit </title>
<div class="center hero-unit">
    <!-- <h1>Welcome to James's Website! </h1> -->
    <p>to <%= link_to 'Google',  "http://google.com" %>
     </p>

    <p> <%= link_to 'Poke me!',  "#" , class: "btn btn-large btn-primary" %> </p>
</div>



