
 <title>James Xue — Developer, Designer, Photographer, Free Spirit </title>
<div class="center hero-unit">
    <!-- <h1>Welcome to James's Website! </h1> -->
 <!--    <p>to <%= link_to 'Google',  "http://google.com" %>
     </p> -->

    </br>
</br>
    <p> <button type="button" class="btn btn-default" ><a href="mailto:james@james-xue.com">Email Me</a> </button></p>
</div>



