/*
@import 'bootstrap';
body{
    padding-top: 0px;	
}


.logo {
}


.footer{
    margin-top: 0px;
    margin-left:auto;
    margin-right:auto;
    vertical-align: middle;

    color: $gray-light;
    a{
        color: $gray;
    }
}

.header{
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.col-centered{

}*/