

<%= link_to root_path do%>
	<div class = "col-md-2 col-md-offset-3">Home</div>
<% end %>

<%= link_to about_path do%>
	<div class = "col-md-2  ">About</div>
<% end %>

<%= link_to "http://frogbandit.tumblr.com" do %>
	<div class = "col-md-2 ">Blog</div>
<% end %>
